<nav class="navbar navbar-default navbar-fixed-top" >
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed"
                type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="logo">
                <img src="assets/images/logo-final.png" class="img-responsive">
            </a>

        </div>
        <div id="navbar" class="navbar-collapse collapse" ng-controller="headerController">
            <ul class="nav navbar-nav navbar-right">
                <li class="" ng-class="{'active': isActive}">
                    <a class="page-scroll" ui-sref="home" ng-click="activeButton()">
                        <span>
                            <i class="pe-7s-timer"></i>
                        </span> SITE SPEED</a>
                </li>
                <li ng-class="{'active': isActive1}">
                    <a class="page-scroll" page-scroll ui-sref="spellcheck({brokenLink:'spellcheck'})" ng-click="activeButton1()">
                        <span>
                            <i class="fa fa-check-circle-o"></i>
                        </span> SPELL CHECK</a>
                </li>
                <li  ng-class="{'active': isActive2}">
                    <a ui-sref="worddensity({brokenLink:'worddensity'})" class="page-scroll" page-scroll  ng-click="activeButton2()">
                        <span>
                            <i class="fa fa-wpexplorer"></i>
                        </span> WORD DENSITY</a>
                </li>
                <li ng-class="{'active': isActive3}">
                    <a  ui-sref="brokenLinks({brokenLink:'brokenLink'})"  class="page-scroll" page-scroll ng-click="activeButton3()">
                        <span>
                            <i class="pe-7s-link"></i>
                        </span> LINK CHECKER</a>
                </li>
            </ul>
        </div>
    </div>
</nav>