<section class="bg-light">
        <div class="container" style="margin-top:25px;">
        <div class="row">
               <div class="col-sm-3 m-top">
                        <div class="hpanel">
                            <div class="panel-body">
        
                                <ul class="mailbox-list">
                                    <li class="active">
                                        <a href="#">
                                            <span class="pull-right caret-right"><i class="fa fa-caret-right"></i></span>
                                            
                                            <i class="pe-7s-home"></i>  Home
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="pe-7s-scissors"></i> How it works</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="pe-7s-users"></i> About us</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="pe-7s-call"></i> contact us</a>
                                    </li>
                                </ul>
                                <hr>
                                
        
        
                            </div>
        
                        </div>
               </div>
               <div class="col-sm-9 m-top">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <h3>18</h3>
                            </div>
                                <h3>Word Density</h3>
                        </div>
                    
                        <div class="panel-body">
                            <img src="assets/images/word-density.png" class="img-responsive word_img">
                        </div>
                        </div>
                        
                </div>
               </div>
        </div>   
        </div>
        </section>
        